@model BicycleStore.Models.Order

<div>
    <h2>Order</h2>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <form method="post">
                    <input type="hidden" name="BicycleId" value="@ViewBag.BicycleId" />
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name, null, new { @class = "form-label" })
                        @Html.ValidationMessageFor(x => x.Name,null, new { style ="color:red;font-weight:bold; font-size:1.2em;" })
                        @Html.TextBoxFor(x => x.Name, null, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address, null, new { @class = "form-label" })
                        @Html.ValidationMessageFor(x => x.Address, null, new { style = "color:red;font-weight:bold; font-size:1.2em;" })
                        @Html.TextBoxFor(x => x.Address, null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Phone, null, new { @class = "form-label" })
                        @Html.ValidationMessageFor(x => x.Phone, null, new { style = "color:red;font-weight:bold; font-size:1.2em;" })
                        @Html.TextBoxFor(x => x.Phone, null, new { @class = "form-control" })
                    </div>
                    <input class="btn btn-secondary w-50" type="submit" value="Buy"/>
                </form>
            </div>
            <div class="col-8">
                <h3>Bicycle</h3>
                <table class="table">
                    <tr>
                        <td class="font-weight-bold">Title</td>
                        <td>@ViewBag.Bicycle.Title</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Model</td>
                        <td>@ViewBag.Bicycle.Model</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Wheel diameter</td>
                        <td>@ViewBag.Bicycle.WDiameter</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Frame material</td>
                        <td>@ViewBag.Bicycle.FrameMaterial</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Brake type</td>
                        <td>@ViewBag.Bicycle.BrakeType</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Color</td>
                        <td>@ViewBag.Bicycle.Color</td>
                    </tr>
                </table>
                <div class="font-weight-bold" style="font-size:30px;">Price: @ViewBag.Bicycle.Price $</div>
            </div>
        </div>
    </div>
    
</div>