@model System.Collections.Generic.List<BicycleStore.Models.User> 

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            @if (User.IsInRole("superAdmin"))
            {
                <th>Password</th>
                <th>Is Admin</th>
                <th>Make admin</th>
            }
        </tr>        
    </thead>
    <tbody>
        @foreach (var it in Model)
        {
            @if (it.RoleId != 3)
            {
                <tr>
                    <td>@it.Email</td>
                    @if (User.IsInRole("superAdmin"))
                    {
                        <td>@it.Password</td>
                        <td><input type="checkbox" checked =@(it.RoleId==1) disabled/></td>
                        <td>
                            @using (Html.BeginForm("Index", "User"))
                            {
                                <input type ="hidden" value="@it.UserId" name="UserId" />
                                <input type ="hidden" value="@it.Email" name="Email" />
                                <input type ="hidden" value="@it.RoleId" name="RoleId" />
                                @if (it.RoleId == 2)
                                {
                                    <input type ="submit" class="btn btn-primary" value="Make admin" />
                                }
                                else
                                {
                                    <input type="submit" class="btn btn-primary" value="Delete admin" />
                                }
                            }
                        </td>
                        
                    }
                </tr>
            }

        }

    </tbody>
</table>