@model System.Collections.Generic.List<BicycleStore.Models.ViewModels.UserInfoViewModel>


<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Edit user</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var it in Model)
        {

            <tr>
                <td>@it.User.Email</td>
                <td>@it.User.UserName</td>
                <td><a asp-action="Edit" asp-route-userId="@it.User.Id" class="btn btn-primary">Edit</a></td>
                <td>
                    @using (Html.BeginForm("Index", "User"))
                    {
                        <input type="hidden" value="@it.User.Id" name="Id" />
                        <input type="hidden" value="@it.User.Email" name="Email" />
                        <input type="hidden" value="@it.User.UserName" name="UserName" />
                    }
                </td>
            </tr>

        }

    </tbody>
</table>
